/* Mobile default formatting */

.base_link {
  color: var(--text-color);
  text-shadow: 2px 2px 0px var(--link-shadow);
  text-decoration: none;
}

.base_link:focus-visible {
  outline: none;
  border: 1px solid var(--border-color-alpha40);
}

.base_link:focus {
  outline: none;
}

.base_link:hover {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--link-hover-underline);
}

.page {
  max-width: 375px;
  margin: auto;
  font-family: "IBM Plex mono";
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 185px 483px;
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  display: grid;
  padding-right: 0px;

  justify-items: end;
  align-items: end;
}

.header__theme-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.header__theme-menu-item {
  display: block;
  margin-bottom: 12px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 0px solid var(--border-color);
  color: var(--border-color);
  padding-left: 13px;
  padding-right: 10px;
  padding-bottom: 3px;
  font-size: 17.5px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-border);
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.header__content {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.header__content-title {
  padding: 0;
  margin: 0;
  font-size: 115px;
  line-height: 0.84;
  font-weight: bold;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-bottom: 0%;
  margin-top: 2%;
}

.header__text-paragrpaph {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--title-subheader-bg-color);
  margin-top: -11.5%;
}

.decorated-zone::after {
  content: "";
  background-color: transparent;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  display: inline-block;
  height: 24px;
  width: 24px;
  bottom: 0;
  position: absolute;
  margin-left: 10px;
  margin-bottom: 10px;
}

.decorated-zone::before {
  content: "";
  background-color: transparent;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  height: 24px;
  width: 24px;
  display: block;
  right: 0;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
}

.header__pseudo_rec_label {
  font-size: 18px;
  color: var(--border-color);
  position: absolute;
  margin-top: 11px;
  display: none;
  right: 0;
  margin-right: 20px;
  text-transform: uppercase;
}

.header__pseudo_rec_label::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--title-color);
  margin-left: 9px;
  margin-bottom: 1px;
  display: none;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

.content__section_why {
  padding-top: 22px;
}

.content__section_cause {
  padding-top: 12px;
}

.content__section_what {
  padding-top: 11px;
}

.content__section_visual {
  padding-top: 11px;
  padding-bottom: 30px;
}

.content__section_cause_header {
  line-height: 23.4px;
  max-width: 300px;
  width: 100%;
}

.block_section_why {
  padding-left: 0px;
}

.block_section_cause {
  margin-bottom: 20px;
}

.block_section_what {
  padding-left: 0px;
}

.block_2rows {
  padding-right: 20px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.block_3cols_img {
  grid-column-start: 1;
  grid-column-end: 4;
}

.content__text_subheader {
  color: var(--title-subheader-color);
  font-size: 18px;
  background-color: var(--title-subheader-bg-color);
  margin-bottom: 10px;
  line-height: 23.4px;
}

.content__subheader_no_bg {
  max-width: 375px;
  font-size: 18px;
  color: var(--title-subheader-nobg-color);
  margin-bottom: 20px;
}

.content__subheader_cause {
  font-size: 18px;
  color: var(--title-subheader-nobg-color);
  max-width: 375px;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.content__text_sub_subheader {
  color: var(--title-subheader-color);
  font-weight: normal;
  line-height: 23.4px;
  background-color: var(--title-subheader-bg-color);
  padding-right: 10px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content__text {
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 20px;
  margin-top: 0px;
  color: var(--text-color);
}

.content__pic_sunset {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.content__pic_icecream {
  grid-row-start: 1;
  grid-row-end: 3;
}

.content__pic_tape {
  grid-row-start: 2;
  grid-row-end: 4;
}

.content__pic_street {
  grid-column-start: 2;
  grid-column-end: 4;
}

.content__image {
  width: 100%;
  height: 100%;
  margin-bottom: 6px;
  object-fit: cover;
  object-position: center;
}

.footer__content-title {
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: 0;
}

.footer__content {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
}

/* Tablet version */

@media (375px < width) {
  .page {
      max-width: 768px;
  }

  .decorated-zone::after {
      margin-left: 20px;
      margin-bottom: 20px;
  }

  .decorated-zone::before {
      margin-top: 20px;
      margin-right: 20px;
  }

  .header__theme-menu {
      padding-right: 10px;
  }

  .content {
      padding-left: 20px;
      padding-right: 20px;
  }

  .header__pseudo_rec_label {
      margin-top: 21px;
      margin-right: 29px;
  }

  .header {
      grid-template-rows: 302px 722px;
  }

  .header__content {
      display: grid;
      align-items: center;
      justify-content: start;
      margin: 0;
      padding: 0;
  }

  .header__content-title {
      font-size: 120px;
      margin-top: 1.5%;
  }

  .header__text-paragrpaph {
      color: var(--title-subheader-color);
      max-width: 364px;
      justify-self: end;
      margin-top: -27.5%;
      margin-right: -30%;
  }

  .content__subheader_cause {
      width: 200px;
      margin-bottom: 4px;
  }

  .content__section_why {
      padding-top: 42px;
      display: grid;
      grid-template-columns: 1fr 2fr;
  }

  .content__section_cause {
      padding-top: 60px;
  }

  .content__text {
      margin-bottom: 2px;
  }

  .content__section_visual {
      padding-top: 60px;
  }

  .content__text_sub_subheader {
      margin-bottom: 10px;
  }

  .content__section_cause_header {
      max-width: 200px;
      width: 100%;
  }

  .content__section_what {
      padding-top: 42px;
      display: grid;
      grid-template-columns: 1fr 2fr;
  }

  .block_section_why {
      padding-left: 13px;
  }

  .block_section_what {
      padding-left: 7px;
  }

  .block_section_how {
      padding-left: 13px;
  }

  .content__images {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 192px 230px 318px;
      padding-top: 10px;
      padding-bottom: 30px;
  }

  .block_3cols_img {
      grid-column-start: 1;
      grid-column-end: 4;
  }

  .content__image {
      margin-bottom: 0px;
  }

  .footer__content-title {
      padding-right: 0px;
  }
}

/* Desktop version */

@media (768px < width) {
  .page {
      max-width: 1024px;
  }

  .header {
      grid-template-rows: 200px 568px;
  }

  .header__theme-menu {
      justify-items: center;
      align-items: start;
      padding-top: 20px;
  }

  .header__theme-menu-item {
      float: left;
      margin-left: 15px;
  }

  .header__pseudo_rec_label {
      margin-top: 21px;
  }

  .header__content-title {
      font-size: 157px;
      margin-top: 2%;
  }

  .header__text-paragrpaph {
      margin-right: -33%;
      margin-top: -15%;
      min-width: 490px;
  }

  .content__section_cause_header {
      max-width: 400px;
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 4;
  }

  .content__subheader_no_bg {
      width: 310px;
      padding-bottom: 2px;
      padding-top: 19px;
      margin: 0;
      margin-bottom: 0;
  }

  .content__subheader_cause {
      width: 310px;
  }

  .content__section_cause {
      padding-top: 58px;
  }

  .content__section_cause_content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
  }

  .block_section_how {
      padding-left: 7px;
  }

  .block_section_why {
      padding-left: 7px;
  }

  .block_section_what {
      padding-left: 0px;
  }

  .block_2rows {
      padding-right: 0px;
  }

  .content__section_what {
      padding-top: 40px;
      display: grid;
      grid-template-columns: 1fr 2fr;
  }

  .content__images {
      grid-template-rows: 260px 315px 433px;
  }

  .content__pic_street {
      margin-top: 5px;
  }

  .footer {
      height: 768px;
  }

  .footer__content-title {
      margin-top: 1%;
  }
}
