/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

h3 {
    font-size: 18px;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-width: 1024px;
  margin: auto;
  font-family: "IBM Plex mono";
  background-image: url("../images/cover-image-light.png");
  /* background-size: 1024px 768px; */
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 200px 568px;
  /* background-image: url("../images/cover-image-light.png"); */
}

.header__theme-menu {
  display: grid;
  justify-items: center;
  align-items: start;
  /* background-color: yellow; */
  margin-top: 20px;
}

.header__theme-menu-list {
  list-style: none;
  /* background-color: green; */

  margin: 0;
  padding: 0;
}

.header__theme-menu-item {
  float: left;
  display: block;
  margin-left: 8px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 0px solid #353430;
  color: #353430;
  padding-left: 12px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 3px;
  font-size: 18px;
  letter-spacing: 1px;
}

.header__theme-menu-button_type_light {
  margin-left: 0px;
  margin-right: 5px;
}

.header__theme-menu-button_type_auto {
  margin-left: 0px;
  margin-right: 2px;
  letter-spacing: 2px;
}

.header__theme-menu-button_type_dark {
  margin-left: 3px;
  margin-right: 9px;
}

.header__theme-menu-button_active {
  border: 1px solid #000;
}

.header__content {
  margin-top: 82px;
}

.header__content-title {
  /* width: 100%; */
  font-size: 157px;
  font-weight: bold;
  color: #ffc2e6;
  text-shadow: 4px 4px 0 var(--accent-color);
  /* background-color: green; */
}

.header__content-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: bold;
  color: #353430;
  width: 491px;
  background-color: #ff8dcb;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 77px;
  padding-right: 0px;
}

.header__pseudo_square_left {
  background-color: transparent;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-top: 722px;
  margin-left: 20px;
  position: absolute;
}

.header__pseudo_square_right {
  background-color: transparent;
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-top: 20px;
  margin-left: 979px;
  position: absolute;
}

.header__pseudo_rec_label {
  position: absolute;
  margin-left: 950px;
  margin-top: 20px;
}

.header__pseudo_rec_label::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #fc0675;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 5px #fc0675;
  margin-left: 5px;
}

.content {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-top: 42px;
}

.block_2rows {
    /* background-color: green; */
    grid-row-start: 1;
    grid-row-end: 2;
}

.block_2cols {
    /* background-color: green; */
    grid-column-start: 2;
    grid-column-end: 4;
    /* background-color: green; */
}

.block_3cols {
    /* background-color: green; */
    grid-column-start: 1;
    grid-column-end: 4;
    /* margin-top: 62px; */
    height: 68px;
}

.block_3cols_img {
    /* background-color: green; */
    grid-column-start: 1;
    grid-column-end: 4;
    /* margin-top: 62px; */
    height: 64px;
}

.block_3cols_space {
  /* height: 52px; */
  height: 58px;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: antiquewhite;
}

.content__text_subheader {
    background-color: #ff8dcb;
    margin: 0px;
    margin-right: 20px;
    margin-bottom: 9px;
    height: 24px;
}

.content__text_sub_subheader {
    background-color: #ff8dcb;
    margin: 0px;
    margin-right: 20px;
    margin-bottom: 9px;
    height: 24px;
    font-size: 18px;
    margin-top: 19px;
}

.content__text {
  padding-top: 0px;
  font-size: 18px;
  /* background-color: beige; */
  /* margin-top: 0px; */
  margin-right: 20px;
  margin-bottom: 2px;
}

.content__section_3_columns {
  margin-bottom: 50px;
}

.content__images {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 260px 314px 432px;
    margin-left: 20px;
    margin-right: 20px;
}

.content__pic_1 {
    background-color: grey;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content__pic_2 {
    background-color: yellow;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pic__2 {
    object-fit: cover;
}

.content__pic_3 {
    background-color: red;
    grid-row-start: 2;
    grid-row-end: 4;
}

.content__pic_4 {
    background-color: blue;
}

.content__pic_5 {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 5px;
}

.content__image {
    width: 100%;
    height: 100%;
}

.footer__title_wrapper {
  padding-top: 280px;
  /* background-color: gray; */
  /* position: relative; */
}

/* .footer__pseudo_square_left {
  background-color: transparent;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-top: 722px;
  margin-left: 20px;
  position: absolute;
}

.footer__pseudo_square_right {
  background-color: transparent;
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-top: 20px;
  margin-left: 979px;
  position: absolute;
} */

.footer {
  background-color: yellow;
    position: relative;
    height: 768px;
    margin-top: 61px;
    /* background-color: gray; */
}

/* TODO: Implement adaptive */
